<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <ul class="nav justify-content-center m-auto">
            <li class="nav-item"><a class="nav-link fas fa-home" href="/" data-id="homepage"></a></li>
            <li class="nav-item"><a class="nav-link fas fa-list" href="/browse/" data-id="list"></a></li>
            <li class="nav-item"><a class="nav-link fas fa-search" href="/search/" data-id="search"></a></li>
            <li class="nav-item"><a class="nav-link fas fa-user-cog" href="/profile/" data-id="profile"></a></li>
        </ul>
    </nav>
</footer>