<section id="homepage" class="active">
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-5">Nasomi Auction House!</h1>
            <p class="lead">This is a simple mobile friendly web app which searches the Nasomi auction house.</p>
        </div>
    </div>
</section>