<div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card flex-md-row mb-4 box-shadow">
          <div class="col-12 col-lg-6 card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Post title</a>
            </h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a class="text-dark font-weight-bold" href="#">Continue reading</a>
          </div>
          <div class="col-6 card-img-right flex-column d-none d-lg-flex"></div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow">
          <div class="col-12 col-lg-6 card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Post title</a>
            </h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <a class="text-dark font-weight-bold" href="#">Continue reading</a>
          </div>
          <div class="col-6 card-img-right flex-column d-none d-lg-flex"></div>
        </div>
      </div>
    </div>
</div>