<section id="profile">
    <article>
        <div class="profile">
            <img class="d-block mx-auto img-thumbnail" src="http://via.placeholder.com/256x256" style="border-radius: 50%;" />
            <p class="profile--name">Your name?</p>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item text-center">
                <a class="nav-link">
                    <i class="fas fa-bell"></i>
                    <span class="d-block" style="font-size: 14px;">Alerts</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link">
                    <i class="fas fa-heart"></i>
                    <span class="d-block" style="font-size: 14px;">Favourites</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link">
                    <i class="fas fa-link"></i>
                    <span class="d-block" style="font-size: 14px;">History</span>
                </a>
            </li>
        </ul>
    </article>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="card-title mt-3">About</h2>
                <p class="card-text">This is a simple mobile friendly web app which searches the Nasomi auction house.</p>
            </div>
        </div>
    </div>
</section>