<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 mb-3"><img class="img-fluid" src="https://via.placeholder.com/960x540" /></div>
            <div class="col-12">
                <div id="searchResults">{{{structureCategoriesHTML}}}</div>
            </div>
        </div>
    </div>
</section>

{{> footer }}