<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3"><img class="img-fluid" src="https://via.placeholder.com/960x540" /></div>
            <div class="col-12">
                <div id="searchResults">{{{structureCategoriesHTML}}}</div>
            </div>
        </div>
    </div>
</section>

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <ul class="nav justify-content-center m-auto">
            <li class="nav-item"><a class="nav-link fas fa-home active" href="#" data-id="homepage"></a></li>
            <li class="nav-item"><a class="nav-link fas fa-list" href="#" data-id="list"></a></li>
            <li class="nav-item"><a class="nav-link fas fa-search" href="#" data-id="search"></a></li>
            <li class="nav-item"><a class="nav-link fas fa-user-cog" href="#" data-id="profile"></a></li>
        </ul>
    </nav>
</footer>