<main>
    {{> homepage }}
    {{> search }}
    {{> profile }}
</main>

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <ul class="nav justify-content-center m-auto">
            <li class="nav-item"><a class="nav-link active" href="#" data-id="homepage"><i class="fas fa-home"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-id="search"><i class="fas fa-search"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-id="profile"><i class="fas fa-user-cog"></i></a></li>
        </ul>
    </nav>
</footer>