<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 mb-3"><img class="img-fluid" src="/images/shirukusan_2018.07.jpg" /></div>
            <div class="col-12">
                <h2 class="card-title">About</h2>
                <p class="card-text">This is a simple mobile friendly web app which searches the Nasomi auction house.</p>
                <p><small>Version: {{{version}}}</small></p>
            </div>
        </div>
    </div>
</section>

{{> footer }}