<!DOCTYPE html>
<html manifest="nasomi-auctionhouse-app.appcache">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name=apple-mobile-web-app-capable content=yes />
    <meta name=apple-mobile-web-app-status-bar-style content=black />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-startup-image" href="/images/nasomi-auctionhouse-app-launch.png" />
    <link rel="apple-touch-icon" href="/images/nasomi-auctionhouse-app.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/nasomi-auctionhouse-app-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/nasomi-auctionhouse-app-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/images/nasomi-auctionhouse-app-167x167.png" />
    <title>{{title}} - Nasomi Auction House</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/ffxi-nasomi-library.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
