<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 mb-3"><img class="img-fluid" src="/images/nasomi-auctionhouse-bg.png" /></div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item text-center">
                        <a class="nav-link">
                            <i class="fas fa-bell"></i>
                            <span class="d-block" style="font-size: 14px;">Alerts</span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link">
                            <i class="fas fa-heart"></i>
                            <span class="d-block" style="font-size: 14px;">Favourites</span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link">
                            <i class="fas fa-link"></i>
                            <span class="d-block" style="font-size: 14px;">History</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{> footer }}